@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header: #050517;
  --footer: #050517;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--header);
}

footer {
  background: var(--footer);
}

.radiobuttons-container {
  height:100vh;
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
}
